<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1057728426416-hkpah26sdt19ajlqejrp8gmb6toepp7a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1057728426416-hkpah26sdt19ajlqejrp8gmb6toepp7a</string>
	<key>API_KEY</key>
	<string>AIzaSyATHJs5X_CMQgp5dUip8UXdW7Qq-wzyBPo</string>
	<key>GCM_SENDER_ID</key>
	<string>1057728426416</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.benjiGarrison.Collektor</string>
	<key>PROJECT_ID</key>
	<string>collektor-2d610</string>
	<key>STORAGE_BUCKET</key>
	<string>collektor-2d610.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1057728426416:ios:fd6300d16e09f3c948a675</string>
	<key>DATABASE_URL</key>
	<string>https://collektor-2d610.firebaseio.com</string>
</dict>
</plist>
